@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, *:before, *:after { 
    margin: 0;
    padding: 0;
    transition: all 0.4s;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f4f4f9;
}
.imagem{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30vh;
}
.imagem img{
    width: 150px;
    height: 150px;
}
img:hover{
    transform: scale(1.1);
}
.finalizado-desc{
    display: grid;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 38vh;
}
.p1{
    font-size: 1.8rem;
    color: #333533;
}
.p2{
    font-size: 1.4rem;
    color: #333533;
}