/*conteudo de login box-01, box-02 e container(1 e 2)*/
.geral{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.container1{
    width: 70vh;
    height: 600px;
    border-radius: 2vh;
    display: grid;
    background-color: #eff1f3;
    margin-bottom: 5vh;
    justify-content: center;
    border: #7ea3f1 solid 0.40vh;
    border-bottom: #7ea3f1 solid 0.60vh;
    box-shadow: 0px 5px 21px 2px rgba(43,45,66,0.3);
}
input:focus{
    outline: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    transform: scale(1.02);
}
input::placeholder{
    font-size: 15px;
    color: #6c757d6b;
    font-weight: 700;
}
.container1 .texto1{
    display: grid;
    justify-content: center;
    text-align: center;
    color: #212529;
    margin-top: 5pc;
    font-size: 2rem;
    font-weight: 800;
}
.container1 .data label{
    display: flex;
    justify-content: left;
    margin-left: 1vh;
}
label{
    display: flex;
    justify-content: left;
    width: 300px;
    color: #212529;
    margin-top: 10px;
}
.container1 .data input{
    margin-top: 5px;
    border-radius: 1vh;
    font-size: 18px;
    padding-left: 5px;
    width: 90%;
    height: 30px;
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}
form{
    position: relative;
    bottom: 2vh;
}
.container1 .btns{
    display: grid;
    justify-content: center;
    display: flex;
    grid-template-columns: auto auto;
    position: relative;
    top: 5vh;
}
.btns button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
button{
    display: flex;
    justify-content: center;
    background: #fbc55f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
    border: 0.2vh solid black;
    border-radius: 0.8vh;
    box-shadow: 0.1em 0.1em #000;
    cursor: pointer;
    margin-top: 10vh;
    height: 40px;
}
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.12em 0.12em #000;
}
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #000;
}
#enviar a, #cancelar a{
    color: #000;
    text-decoration: none;
}