@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, *:before, *:after { 
  margin: 0;
  padding: 0;
  transition: all 0.4s;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fffdf7;
}
.teste{
    display: flex;
    justify-content: center;
    display: grid;
    text-align: center;
}
.imagem img{
    width: 500px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}
.container{
    display: flex;
    justify-content: center;
    display: grid;
    margin-top: 5vh;
    width: 100%;
}
.container .titulo{
    margin-top: 10px;
    margin-bottom: 30px;
}
.titulo p{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.titulo .sub{
    font-size: 18px;
    text-decoration: underline solid #333;
}
.container .data input{
    margin-top: 10px;
    border-radius: 1vh;
    font-size: 18px;
    padding-left: 5px;
    width: 60vh;
    height: 30px;
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}
.data input:focus{
    outline: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    transform: scale(1.02);
}
.data input::placeholder{
    font-size: 15px;
    color: #6c757d6b;
    font-weight: 700;
}
.links .p1{
    margin-left: 5px;
    font-size: 13px;
}
.links .p2{
    color: #8338ec;
    font-size: 13px
}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 60px;
}
button{
    display: flex;
    justify-content: center;
    background: #fbc55f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
    border: 0.2vh solid black;
    border-radius: 0.8vh;
    box-shadow: 0.1em 0.1em #333;
    cursor: pointer;
    margin-top: 0px;
    height: 40px;
}
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.12em 0.12em #333;
}
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #333;
}
#entrar a{
    color: #333;
    text-decoration: none;
}
.teste{
    display: flex;
    justify-content: center;
    display: grid;
    text-align: center;

}
.container .data2{
    display: flex;
    margin-top: 10px;
    padding-left: 5px;
}
.container .data2{
    font-size: 11px;
    color: #333;
    font-weight: 700;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
}