@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, *:before, *:after { 
  margin: 0;
  padding: 0;
  transition: all 0.4s;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #f4f4f9;
}
header{
  display: flex;
  justify-content: center;
  height: 13vh;
}
.Container{
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}
.logo img{
  width: 360px;
  padding-left: 70px;
}
.menu{
  display: flex;
  align-items: center;
  padding-right: 70px;
  font-size: 20px;
}
nav ul, nav li{
  list-style: none;
}
nav ul{
  display: flex;
  padding: 10px;
}
nav a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
}
nav a :hover{
  text-shadow: 0px 0px 14px #b9b9b9;
  text-decoration: underline 2px #2b2d42;
  transition-duration: 200ms;
  transition-delay: 10ms;
}
/*Footer*/
.footer-distributed {
  position: absolute;
  top: 215vh;
  background: #1f1f1f; /* fallback for old browsers */
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 20px 50px;
  }
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 10px;
  margin: 0;
  padding-left: 5px;
}
/* Footer links */
.footer-distributed p.footer-links {
  font-size: 15px;
  color: #f8f8f8;
  margin: 0 0 5px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: " ";/* aqui sem nada escrito*/
  font-size: 20px;
  left: 0;
  color: #f8f8f8;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 5px;
  font-size: 20px;
  color: #f8f8f8;
  text-align: center;
  line-height: 35px;
  margin-left: 5px;
}
.footer-distributed .footer-right a:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.footer-distributed p.footer-links a:hover{
  text-shadow: 0px 0px 14px #e5e5e5;
  transition-duration: 200ms;
  text-decoration: underline;
}
.loja{
  position: fixed;
  float: right;
}
.loja p{
  display: grid;
  font-size: 15px;
}
/*---------------------------------------*/
/*scrollbar*/
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-thumb {
  background-color: #adb5bd;    
  border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background: #e9ecef;     
}