.titulo-topo{
    display: grid;
    position: relative;
    float: left;
    text-align: left;
    width: 40pc;
    margin-left: 10vh;
    top: 5vh;
}
.titulo-topo p{
    color: #212529;
    font-size: 2rem;
    font-weight: 600;
}
.titulo{
    display: grid;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 1vh;
}
.titulo p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #212529;
}
.loja{
    position: fixed;
    right: 5px; 
    z-index:20000; 
    cursor: pointer;
    bottom: 9.8vh;
    z-index:20000; 
}
.loja img{
    width: 70px;
}
.section2{
    width: 100%;
    position: relative;
    top: 30pc;
    display: grid;
}
/*parte dos textos ONG, serviços, Voluntario e do article*/
.section1{
    width: 58%;
    position: relative;
    top: 18pc;
    margin-left: 70px;
    display: grid;
}
.infoservico{
    margin-top: 5vh;
    border-bottom: #7ea3f1 solid 0.60vh;
}
.tituloINFO{
    display: flex;
    justify-content: left;
    color: #212529;
    font-size: 2.5rem;
    font-weight: 500;
    width: auto;
    padding-left: 5px;
}
.descServico{
    display: flex;
    justify-content: left;
    text-align: left;
    color: #212529;
    font-size: 1.2rem;
    margin-top: 10px;
    padding-left: 5px;
}
.infoservico .btn{
    display: flex;
    justify-content: center;
    margin: 2vh;
}
button{
    display: flex;
    justify-content: center;
    background: #fbc55f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
    border: 0.2vh solid black;
    border-radius: 0.8vh;
    box-shadow: 0.1em 0.1em #000;
    cursor: pointer;
    height: 40px;
}
.btn a{
    text-decoration: none;
}
button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.12em 0.12em #000;
}
button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #000;
}