.section2{
    position: relative;
    top: 5vh;
}
.volutario{
    display: flex;
    justify-content: left;
    font-size: 3rem;
    font-weight: 500;
    position: relative;
    bottom: 30vh;
    text-align: left;
    margin-left: 10vh;
    width: 46pc;
}
.loja{
    position: fixed;
    right: 5px; 
    z-index:20000; 
    cursor: pointer;
    bottom: 9.8vh;
    z-index:20000; 
}
.loja img{
    width: 70px;
}
.busca{
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: 40%;
}
.busca input{
    margin-top: 10px;
    border-radius: 1vh;
    font-size: 18px;
    padding-left: 5px;
    width: 90%;
    height: 40px;
    border: #cdd6dd solid 0.50vh;
    border-bottom: #fbc55f solid 0.50vh;
    border-right: #fbc55f solid 0.50vh;
}input:focus{
    outline: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    transform: scale(1.02);
}
input::placeholder{
    font-size: 15px;
    color: #6c757d6b;
    font-weight: 700;
}
.pesquisa button{
    display: flex;
    justify-content: center;
    margin: 1vh;
}
.pesquisa img{
    width: 20px;
}
aside{
    display: none;
    justify-content: left;
    width: 10pc;
    height: 15pc;
    position: relative;
    position: fixed;
    left: 87%;
    bottom: 12pc;
    border-radius: 2vh;
    background-color: #eff1f3;
    border: #e63946 solid 0.40vh;
    box-shadow: 0px 5px 21px 2px rgba(43,45,66,0.3);
    z-index: 0;
    animation-name: animacao;
    animation-duration: 2s
}
@keyframes animacao { 
    from{ opacity:0 } 
    to{ opacity:1 }
  }
.infoADD{
    color: #333;
    font-size: 1.3rem;
    margin-top: 10px;
    height: min-content;
}
.infoDesc{
    text-align: left;
    color: #333;
    margin-bottom: 5px;
    padding-left: 10px;
}