<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/404.css">
    <link rel="stylesheet" href="../css/load.css">
    <title>Error 404 (Not Found)!!</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div id="content">
            <div class="error">
                <label>!! 404 !!</label>
            </div>
            <div class="description">
                <p>A página não pode ser encontrada, verifique se o endereço esta escrito corretamente.</p>
            </div>
            <div class="return">
                <a href="../"><button class="botao">Voltar para a Home</button></a>
            </div>
        </div>
    </div>
    <script src="../js/load.js"></script>
</body>
</html>