<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadFinalizado.css">
    <link rel="stylesheet" href="../css/load.css">
    <title>Techno Growing | Cadastro finalizado</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="imagem">
            <img src="../images/correto.png" alt="??Finalizado??">
        </div>
        <div class="finalizado-desc">
            <p class="p1">Seu cadastro foi finalizado com sucesso</p>
            <p class="p2">Voltando para página inicial...</p>
        </div>
    </div>
    <script src="../js/redirect.js"></script>
    <script src="../js/load.js"></script>
</body>
</html>