<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header&footer.css">
    <link rel="stylesheet" href="../css/contato.css">
    <link rel="stylesheet" href="../css/load.css">
    <title>Techno Growing | Contato ✉</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <!--header aqui-->
        <header>
            <div class="Container">
                <div class="logo">
                    <img src="../images/logotipo_sem_ONG- sem fundo.png">
                </div> 
                <div class="menu">
                    <nav>
                        <ul>
                            <a href="../"><li>Home</li></a>
                            <a href="../perfil"><li>Perfil</li></a>
                            <a href="../vagas"><li>Vagas</li></a>
                            <a href="../loja"><li>Loja</li></a>
                            <a href="../sobre"><li>Sobre</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--header aqui-->
        <!--Conteudo da pagina de contato-->
        <div class="geral">
            <div class="container1">
                <p class="titulo">Entrar em Contato</p>
                <p class="desc">Possui alguma duvida? preencha o formulario e o nosso time ira entrar em contato em breve 👍</p>
            </div>
            <div class="container2">
                <form action="#">
                    <div class="data">
                        <input type="text" required placeholder="Nome Completo">
                    </div>
                    <div class="data">
                        <input type="email" required placeholder="Seu Email">
                    </div>
                    <div class="data">
                        <textarea name="" cols="30" rows="6" placeholder="Como podemos ajudar?"></textarea>
                    </div>
                    <button type="submit" id="enviar"><a href="#">Enviar</a></button>
                </form>
            </div>
        </div>
        <!--Conteudo da pagina de contato-->
        <!--footer aqui se prescisar-->
        <footer class="footer-distributed">
            <div class="footer-right">
                <a href="#"><img src="../images/linkedin.png"></a>
                <a href="#"><img src="../images/facebook.png"></a>
                <a href="#"><img src="../images/instagram.png"></a>
            </div>
            <div class="footer-left">
                <p class="footer-links">
                    <a class="link-1" href="../">Home</a>
                    <a href="../perfil">Perfil</a>
                    <a href="../vagas"><li>Vagas</li></a>
                    <a href="../loja">Loja</a>
                    <a href="../sobre">Sobre</a>
                </p>
                <p>Techno Growing &copy; 2022</p>
            </div>
        </footer>
        <!--footer aqui se prescisar-->
    </div>
    <script src="../js/load.js"></script>
</body>
</html>