<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header&footer-page-home.css"/>
    <link rel="stylesheet" href="../css/section-carrocel.css">
    <link rel="stylesheet" href="../css/section-page.css">
    <link rel="stylesheet" href="../css/load.css">
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="icon" type="imagem/png" href="../images/iconeSite.png">
    <title>Techno Growing | Página inicial</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <!--header aqui-->
        <header>
            <div class="Container">
                <div class="logo">
                    <img src="../images/logotipo_sem_ONG- sem fundo.png">
                </div> 
                <div class="menu">
                    <nav>
                        <ul>
                            <a href="../login"><li>Entrar</li></a>
                            <a href="../perfil"><li>Perfil</li></a>
                            <a href="../vagas"><li>Vagas</li></a>
                            <a href="../loja"><li>Loja</li></a>
                            <a href="../sobre"><li>Sobre</li></a>
                            <a href="../contato"><li>Contato</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--header aqui-->
        <!--Conteudo da pagina-->
        <section>
            <a href="#">
                <div id="slider">
                    <img class="selected" src="../images/planta.png" alt="Meio Ambiente">
                    <img src="../images/clinica.png" alt="Reabilitação">
                    <img src="../images/estudantes.png" alt="Estudo">
                    <img src="../images/LGBT.jpeg" alt="Amor">
                </div>
            </a>
        </section>
        <div class="titulo-topo">
            <p>ENCONTRE AS CAUSAS QUE MAIS COMBINAM COM VOCÊ</p>
        </div>
        <section class="section1">
            <div class="infoservico">
                <div class="tituloINFO"><p>Nosso serviço</p></div>
                <div class="descServico"><p>Somos a Techno Growing, nós ajudamos ONGS e programadores iniciantes.
                    Ongs que precisam de um site ou sistema mais não possuem muitos recursos, podem criar uma conta em nosso site e criar uma vaga de voluntariado, que ficara disponível na nossa página de vagas, e caso se você for um programador iniciante e quer ser voluntario e ter uma boa bagagem em seu portfólio.
                    </p></div>
            </div>
            <div class="infoservico">
                <div class="tituloINFO"><p>ONGS</p></div>
                <div class="descServico"><p>Para que você possa fazer seu cadastro em nosso site, é importante que sua ong possua um CNPJ, após isso será possível criar sua vaga de voluntariado.
                    <br>Crie sua conta hoje mesmo</p></div>
                <div class="btn">
                    <a href="../contaONG"><button type="submit">Crie agora</button></a>
                </div>
            </div>
            <div class="infoservico">
                <div class="tituloINFO"><p>Voluntários</p></div>
                <div class="descServico"><p>Para fazer seu Cadastro é simples, para ser um voluntario você pode ter qualquer nível de experiência, nós acreditamos que todos podem ter uma oportunidade.
                    <br>Crie sua conta hoje mesmo
                </p></div>
                <div class="btn">
                    <a href="../contaUsuario"><button type="submit">Crie agora</button></a>
                </div>
            </div>
        </section>
        <section class="section2">
            <div class="titulo">
                <p>VAGAS EM DESTAQUE</p>
            </div>
            <div class="container-cards">
                <div class="card">
                    <img src="../images/ombate.png" class="card-media" />
                    <div class="card-details">
                        <h2 class="card-head">Recolocação e Igualdade </h2>
                        <p>Nossa ONG é focada em abrigar pessoas que estão morando na rua, ensinando a alfabetização e restruturar no mercado de trabalho.</p>
                    </div>
                    <a href="../vagas" class="saiba">Saiba mais</a>
                </div>
                <div class="card">
                    <img src="../images/clinica.png" class="card-media" />
                    <div class="card-details">
                        <h2>Reabilitação de pessoas no vicio</h2>
                        <p>Acolhimento onde ajudamos pessoas em estado de vicio, tratamento com muita atividade fisica e cultura.</p>
                    </div>
                    <a href="../vagas" class="saiba">Saiba mais</a>
                </div>
                <div class="card">
                    <img src="../images/clinica.png" class="card-media" />
                    <div class="card-details">
                        <h2>Reabilitação de pessoas no vicio</h2>
                        <p>Acolhimento onde ajudamos pessoas em estado de vicio, tratamento com muita atividade fisica e cultura.</p>
                    </div>
                    <a href="../vagas" class="saiba">Saiba mais</a>
                </div>
        </section>
        <!--Conteudo da pagina-->
        <!--footer aqui-->
        <div class="loja">
            <p>Loja</p>
            <a href="../loja"><img src="../images/carrinho-de-compras.png"></a>
        </div>
        <footer class="footer-distributed">
            <div class="footer-right">
                <a href="../404"><img src="../images/linkedin.png"></a>
                <a href="../404"><img src="../images/facebook.png"></a>
                <a href="../404"><img src="../images/instagram.png"></a>
            </div>
            <div class="footer-left">
                <p class="footer-links">
                    <a class="link-1" href="../login">Entrar</a>
                    <a href="../perfil">Perfil</a>
                    <a href="..pages/404">Parceiros</a>
                    <a href="../sobre">Sobre</a>
                    <a href="../contato">Contato</a>
                </p>
                <p>Techno Growing &copy; 2022</p>
            </div>
        </footer>
        <!--footer aqui-->
    </div>
    <script src="../js/carousel.js"></script>
    <script src="../js/load.js"></script>
</body>
</html>