<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header&footer-page-perfil.css">
    <link rel="stylesheet" href="../css/load.css">
    <link rel="stylesheet" href="../css/perfilUsuario.css">
    <title>Techno Growing | Meu perfil 👨‍💻</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <header>
            <div class="Container">
                <div class="logo">
                    <img src="../images/logotipo_sem_ONG- sem fundo.png">
                </div> 
                <div class="menu">
                    <nav>
                        <ul>
                            <a href="../"><li>Home</li></a>
                            <a href="../vagas"><li>Vagas</li></a>
                            <a href="../loja"><li>Loja</li></a>
                            <a href="../sobre"><li>Sobre</li></a>
                            <a href="../contato"><li>Contato</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="perfil">Meu Perfil</div>
        <section class="perfil-usuario">
            <div class="container-geral">
                <div class="conteudo-usuario">
                    <div class="info">
                        <div class="nome-usuario">Nome usuario</div>
                        <div class="exp"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, odit facere ipsum provident est rerum, dolorem nesciunt, laborum nihil quasi commodi officiis. Voluptate ducimus, aperiam deserunt aliquam expedita ex eum.</p></div>
                        <div class="social">
                            <ul>
                                <a href="#"><li class="rede">nome da rede social</li></a>
                            </ul>
                        </div>
                        <div class="info-contato">
                            <div class="contato-usuario">Informação para Contato</div>
                            <div class="endereco">
                                <ul>
                                    <li class="contato">Email</li>
                                    <li class="contato">Endereco</li>
                                    <li class="contato">Telefone</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Footer-->
        <footer class="footer-distributed">
            <div class="footer-right">
                <a href="../404"><img src="../images/linkedin.png"></a>
                <a href="../404"><img src="../images/facebook.png"></a>
                <a href="../404"><img src="../images/instagram.png"></a>
            </div>
            <div class="footer-left">
                <p class="footer-links">
                    <a class="link-1" href="../login">Entrar</a>
                    <a href="../perfil">Perfil</a>
                    <a href="..pages/404">Parceiros</a>
                    <a href="../sobre">Sobre</a>
                    <a href="../contato">Contato</a>
                </p>
                <p>Techno Growing &copy; 2022</p>
            </div>
        </footer>
    </div>
    <script src="../js/load.js"></script>
</body>
</html>