<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="stylesheet" href="../css/header&footer-page-sobre.css">
    <link rel="stylesheet" href="../css/load.css">
    <link rel="icon" type="imagem/png" href="../images/iconeSite.png">
    <title>Techno Growing | Sobre 📖</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <!--header aqui-->
        <header>
            <div class="Container">
                <div class="logo">
                    <img src="../images/logotipo_sem_ONG- sem fundo.png">
                </div> 
                <div class="menu">
                    <nav>
                        <ul>
                            <a href="../"><li>Inicio</li></a>
                            <a href="../perfil"><li>Perfil</li></a>
                            <a href="../vagas">Vagas</a>
                            <a href="../loja"><li>Loja</li></a>
                            <a href="../contato"><li>Contato</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--header aqui-->
        <!--Conteudo da pagina-->
        <section>
            <div class="titulo">Sobre a Techno Growing</div>
            <div class="conteudo">
                <div class="cont1">
                    <div class="assunto">Origem</div>
                    <p>Startup em Criada em São Paulo, no ano de 2021 com 5 desenvolvedores da instituição Senac. Empresa social sem ajuda de investimentos do governo ou empresas. </p>
                </div>
                <div class="cont2">
                    <div class="assunto">Missão</div>
                    <p>Nos trabalhamos promovendo uma oportunidade para que DEVs iniciantes possam ganhar experiencia para impulsionar seu portifólio, 
                        e iniciar uma conexão entre ONGS e desenvolvedores WEB, ajudando na escassez de oportunidades de trabalho.</p>
                </div>
                <div class="cont3">
                    <div class="assunto">Valores</div>
                    <p> Empatia, igualdade, inclusão e diversidade.</p>
                </div>
            </div>
        </section>
        <!--Conteudo da pagina-->
        <!--footer aqui-->
        <footer class="footer-distributed">
            <div class="footer-right">
                <a href="../404"><img src="../images/linkedin.png"></a>
                <a href="../404"><img src="../images/facebook.png"></a>
                <a href="../404"><img src="../images/instagram.png"></a>
            </div>
            <div class="footer-left">
                <p class="footer-links">
                    <a class="link-1" href="../login">Entrar</a>
                    <a href="../perfil">Perfil</a>
                    <a href="../vagas">Vagas</a>
                    <a href="../loja">Loja</a>
                    <a href="../contato">Contato</a>
                </p>
                <p>Techno Growing &copy; 2022</p>
            </div>
        </footer>
        </footer>
        <!--footer aqui-->
    </div>
    <script src="../js/load.js"></script>
</body>
</html>
</body>
</html>