<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cards.css">
    <link rel="stylesheet" href="../css/header&footer-page-vagas.css">
    <link rel="stylesheet" href="../css/section-page-vagas.css">
    <link rel="stylesheet" href="../css/section-carrocel-page-vagas.css">
    <link rel="stylesheet" href="../css/load.css">
    <title>Techno Growing | Vagas</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <!--header aqui-->
        <header>
            <div class="Container">
                <div class="logo">
                    <img src="../images/logotipo_sem_ONG- sem fundo.png">
                </div> 
                <div class="menu">
                    <nav>
                        <ul>
                            <a href="../"><li>Inicio</li></a>
                            <a href="../perfil"><li>Perfil</li></a>
                            <a href="../loja"><li>Loja</li></a>
                            <a href="../sobre"><li>Sobre</li></a>
                            <a href="../contato"><li>Contato</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--header aqui-->
        <!--Conteudo da pagina-->
    <section>
        <div id="slider">
            <img class="selected" src="../images/planta.png" alt="Meio Ambiente">
            <img src="../images/clinica.png" alt="Reabilitação">
            <img src="../images/estudantes.png" alt="Estudo">
            <img src="../images/LGBT.jpeg" alt="Amor">
        </div>
    </section>
    <div class ="volutario">Vagas de voluntariado</div>
    <div class="busca">
        <input type="text" id="filtroCards" class="form-control" onkeyup="aplicaFiltroCards()" onfocus="focar()" onblur="sair()" placeholder="Filtro...">
    </div>
    <section class="section2">
        <div id="containerCards" class="containers-Geral">
            <div class="row">
               <div class="card-deck">
                <!--inicio do card-->
                <div class="card">
                    <div class="card-body">
                       <img src="../images/clinica.png" class="card-media">
                       <h5 class="cardTitle">titulo <p class="categoria">: Web</p></h5>
                       <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquid ea porro. Autem doloremque dolores tenetur at vitae. Aspernatur assumenda facere ullam veritatis eaque consequuntur architecto atque cumque sequi? Voluptates!</p>
                       <div class="descVaga2">
                        <label class="lbldesc2">Horários e Endereço da vaga</label>
                        <ul>
                            <li><img src="../images/calendario.png"><p>Seg a Sex</p></li>
                            <li><img src="../images/relogio-nove.png"><p>4 Horas</p></li>
                            <li class="endereco">Endereço:</li>
                        </ul>
                    </div>
                       <a href="../vaga" class="saiba">Saiba mais</a>
                        <div class="btn">
                            <button type="submit" id="entrar"><a href="../vaga">Ver mais</a></button>
                        </div>
                    </div>
                </div>
                <!--fim do card-->
                <!--inicio do card-->
                <div class="card">
                    <div class="card-body">
                       <img src="../images/clinica.png" class="card-media">
                       <h5 class="cardTitle">titulo <p class="categoria">: desing</p></h5>
                       <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquid ea porro. Autem doloremque dolores tenetur at vitae. Aspernatur assumenda facere ullam veritatis eaque consequuntur architecto atque cumque sequi? Voluptates!</p>
                       <div class="descVaga2">
                        <label class="lbldesc2">Horários e Endereço da vaga</label>
                        <ul>
                            <li><img src="../images/calendario.png"><p>Seg a Sex</p></li>
                            <li><img src="../images/relogio-nove.png"><p>4 Horas</p></li>
                            <li class="endereco">Endereço:</li>
                        </ul>
                    </div>
                       <a href="../vaga" class="saiba">Saiba mais</a>
                        <div class="btn">
                            <button type="submit" id="entrar"><a href="../vaga">Ver mais</a></button>
                        </div>
                    </div>
                </div>
                <!--fim do card--><!--inicio do card-->
                <div class="card">
                    <div class="card-body">
                       <img src="../images/clinica.png" class="card-media">
                       <h5 class="cardTitle">titulo <p class="categoria">: Ti</p></h5>
                       <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo aliquid ea porro. Autem doloremque dolores tenetur at vitae. Aspernatur assumenda facere ullam veritatis eaque consequuntur architecto atque cumque sequi? Voluptates!</p>
                       <div class="descVaga2">
                        <label class="lbldesc2">Horários e Endereço da vaga</label>
                        <ul>
                            <li><img src="../images/calendario.png"><p>Seg a Sex</p></li>
                            <li><img src="../images/relogio-nove.png"><p>4 Horas</p></li>
                            <li class="endereco">Endereço:</li>
                        </ul>
                    </div>
                       <a href="../vaga" class="saiba">Saiba mais</a>
                        <div class="btn">
                            <button type="submit" id="entrar"><a href="../vaga">Ver mais</a></button>
                        </div>
                    </div>
                </div>
                <!--fim do card-->
            </div>
         </div>
    </section>
    <!--footer aqui-->
    <aside id="aviso">
        <div class="infoADD">Como fazer uma pesquisa</div>
        <div class="infoDesc"><p>Para fazer uma pesquisa, busque pelos tipos de vagas como web, desing e etc..</p></div>
    </aside>
    <div class="loja">
        <p>Loja</p>
        <a href="../pages/loja"><img src="../images/carrinho-de-compras.png"></a>
    </div>
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="../404"><img src="../images/linkedin.png"></a>
            <a href="../404"><img src="../images/facebook.png"></a>
            <a href="../404"><img src="../images/instagram.png"></a>
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <a class="link-1" href="../">Inicio</a>
                <a href="../perfil">Perfil</a>
                <a href="../loja">Loja</a>
                <a href="../sobre">Sobre</a>
                <a href="../contato">Contato</a>
            </p>
            <p>Techno Growing &copy; 2022</p>
        </div>
    </footer>
    <!--footer aqui-->
    <script src="../js/carousel.js"></script>
    <script src="../js/load.js"></script>
    <script src="../js/pesquisa.js"></script>
</body>
</html>