

<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><img src="./images/linkedin.png"</a>
        <a href="#"><img src="./images/facebook.png"</a>
        <a href="#"><img src="./images/instagram.png"</a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="/login ">Entrar</a>
            <a href="/privacidade">Privacidade</a>
            <a href="/parceiros">Parceiros</a>
            <a href="/sobre">Sobre</a>
            <a href="/contato">Contato</a>
        </p>
        <p>Techno Growing &copy; 2022</p>
    </div>
</footer>


</body>
</html>