<!--<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno Growing</title>
    <link rel="stylesheet" href="css/global.css"/>
    <link rel="icon" type="imagem/png" href="images/iconeSite.png">
</head>
<body>
    <header>
        <div class="Container">
            <div class="logo">
                <img src="/images/logotipo_sem_ONG- sem fundo.png">
            </div> 
            <div class="menu">
                <nav>
                    <ul>
                        <a href="/login"><li>Entrar</li></a>
                        <a href="/projetos"><li>Projetos</li></a>
                        <a href="/loja"><li>Loja</li></a>
                        <a href="/sobre"><li>Sobre</li></a>
                        <a href="/contato"><li>Contato</li></a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header&footer.css"/>
    <link rel="stylesheet" href="./assets/css/section-carrocel.css">
    <link rel="stylesheet" href="./assets/css/section-page.css">
    <link rel="stylesheet" href="./assets/css/load.css">
    <link rel="stylesheet" href="./assets/css/cards.css">
    <link rel="icon" type="imagem/png" href="./assets/images/iconeSite.png">
    <title>Techno Growing</title>
</head> -->